@import url("https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono&display=swap");
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  background-color: #c4c4c4;
}

nav {
  -webkit-transition: height 1s;
  transition: height 1s;
  width: 80vw;
  height: 10vh;
  margin: auto;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav .nav-logo .logo {
  background-color: #c4c4c4;
  border-radius: 50%;
  width: 105px;
  height: 103px;
  margin: 10px;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin: 20px;
}

nav .nav-links a {
  color: #c4c4c4;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 200;
}

nav .nav-icon {
  text-align: center;
  font-family: FontAwesome;
  color: #c4c4c4;
}

nav .nav-item:hover {
  cursor: pointer;
  opacity: 0.5;
}

#burger {
  display: none;
}

.hero-container {
  width: 80vw;
  height: 75vh;
  margin: auto;
  border-radius: 5px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #c4c4c4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero-container .hero-img {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 95%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.6))), url("./assets/herobg.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("./assets/herobg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-container .hero-info {
  width: 40%;
  margin: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero-container .hero-name {
  font-size: 25px;
  font-family: Ubuntu Mono;
  font-weight: bolder;
  line-height: 30px;
}

.hero-container .hero-description {
  font-family: Ubuntu Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.hero-container .tech-icons-container {
  width: 80%;
}

.hero-container .tech-icons-container h4 {
  color: #444444;
  font-weight: bolder;
}

.hero-container .tech-icons-container .tech-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero-container .tech-icons-container .tech-icons .icon {
  font-family: FontAwesome;
  font-size: 45px;
  color: #444444;
  font-weight: 100;
}

.hero-container .tech-icons-container .tech-icons .icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.hero-container .tech-icons-container hr {
  margin-top: 50px;
  border: 0.5px solid #000000;
}

.hero-container .tech-icons-container .skill {
  color: #444444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-family: Ubuntu Mono;
}

.project-container {
  font-family: 'Ubuntu Mono';
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-container .project-card {
  border: 2px solid #333333;
  border-radius: 3px;
  margin: 20px;
  display: flex column;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-container .project-card p {
  font-weight: 100;
}

.project-container .project-card img {
  border-radius: 3px;
  border: 1px solid #333333;
}

.project-container .project-card .project-links {
  padding: 10px;
}

.project-container .project-card .project-links a {
  background-color: #444444;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px;
}

.project-container .project-card .project-links a:hover {
  background-color: transparent;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

.about-container .about-description {
  width: 50%;
}

@media only screen and (max-width: 700px) {
  #burger {
    display: block;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav .nav-links {
    width: 100%;
    font-size: 20px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .nav-links .nav-item {
    border-top: 0.5px solid #c4c4c4;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .nav-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .nav-logo .logo {
    width: 60px !important;
    height: 60px !important;
  }
  .hero-container .hero-info {
    width: 70%;
  }
}
/*# sourceMappingURL=styles.css.map */